* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body,
button,
input {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;

  font-size: 14px;
}

button {
  cursor: pointer;
}
